html{
  height:100%;
  width:100%;
}
body{
  background-image:url('/images/bg.png');
  background-size:scale;
  width:100%;
  height:100%;
  margin:0px;
}

#miniworld{
	
}

#canvas{
  background: none;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}
